<!DOCTYPE html>
<html>
  <head>
		<base href="../../">
    <meta charset="UTF-8">
		<script src="public/scripts/jquery-3.6.0.min.js"></script>
		<script type="module" src="public/scripts/app.mjs"></script>
    <meta http-equiv="Content-Security-Policy" content="">
    <title>pixiTest</title>
  </head>
	<body>
		<section id="chat">
			<div class="log">
				<div class="chat-message">
					<span class="chat-who">Oosh: </span>
					<span class="chat-content">why isn't the worm eating my Fremen???</span>
				</div>
				<div class="chat-message">				<span class="chat-who">Oosh: </span>	<span class="chat-content">why isn't the worm eating my Fremen???</span>			</div>
				<div class="chat-message">				<span class="chat-who">Oosh: </span>	<span class="chat-content">why isn't the worm eating my Fremen???</span>			</div>
				<div class="chat-message">				<span class="chat-who">Oosh: </span>	<span class="chat-content">why isn't the worm eating my Fremen???</span>			</div>
				<div class="chat-message">				<span class="chat-who">Oosh: </span>	<span class="chat-content">why isn't the worm eating my Fremen???</span>			</div>
				<div class="chat-message">				<span class="chat-who">Oosh: </span>	<span class="chat-content">why isn't the worm eating my Fremen???</span>			</div>
				<div class="chat-message">				<span class="chat-who">Oosh: </span>	<span class="chat-content">why isn't the worm eating my Fremen???</span>			</div>
				<div class="chat-message">				<span class="chat-who">Oosh: </span>	<span class="chat-content">why isn't the worm eating my Fremen???</span>			</div>
				<div class="chat-message">				<span class="chat-who">Oosh: </span>	<span class="chat-content">why isn't the worm eating my Fremen???</span>			</div>
				<div class="chat-message">				<span class="chat-who">Oosh: </span>	<span class="chat-content">why isn't the worm eating my Fremen???</span>			</div>
				<div class="chat-message">				<span class="chat-who">Oosh: </span>	<span class="chat-content">why isn't the worm eating my Fremen???</span>			</div>
				<div class="chat-message">				<span class="chat-who">Oosh: </span>	<span class="chat-content">why isn't the worm eating my Fremen???</span>			</div>
				<div class="chat-message">				<span class="chat-who">Oosh: </span>	<span class="chat-content">why isn't the worm eating my Fremen???</span>			</div>
				<div class="chat-message">				<span class="chat-who">Oosh: </span>	<span class="chat-content">why isn't the worm eating my Fremen???</span>			</div>
				<div class="chat-message">				<span class="chat-who">Oosh: </span>	<span class="chat-content">why isn't the worm eating my Fremen???</span>			</div>
				<div class="chat-message">				<span class="chat-who">Oosh: </span>	<span class="chat-content">why isn't the worm eating my Fremen???</span>			</div>

			</div>
			<div class="input"><textarea id="chatinput" placeholder="Type to chat..."></textarea></div>
		</section>
	</body>
</html>