<h4>MAIN MENU</h4>
<form class="container">
	<div class="section player">
		<div class="setting">
			<span class="setting-label">Player Name:</span><input type="text" name="player-displayname" value="{{player.displayName}}"/>
		</div>
		<div class="setting">
			<span class="setting-label">Player Colour:</span><input type="color" name="player-colour" value="{{player.colour}}"/>			
		</div>
	</div>
</form>