	<section id="mainui">
		<button id="connect">Connect to Test Session</button>
	</section>
	<section id="chat">
		<div class="resize-handle"><div class="arrow up-left"></div></div>
		<div class="log custom-scroll"></div>
		<div class="input"><textarea id="chatinput" placeholder="Type to chat..."></textarea></div>
	</section>
	<section id="ingamemenu"></section>