<h4>MAIN MENU</h4>
<form class="container">
	<div class="section player">
		<div class="setting">
			<span class="setting-label">Player Name:</span><input type="text" name="ui-playerName" value="{{player.playerName}}"/>
		</div>
		<div class="setting">
			<span class="setting-label">Player Colour:</span><input type="color" name="ui-playerColor" value="#ffffff"/>			
		</div>
	</div>
</form>