<!DOCTYPE html>
<html>
  <head>
		<base href="../../">
    <meta charset="UTF-8">
		<script src="modules/lib/jquery-3.6.0.min.js"></script>
		<script type="module" src="modules/app.mjs"></script>
    <script type="module" src="modules/mainMenu.mjs"></script>
		<!-- <script src="modules/lib/howler.js"></script> -->
    <link rel="stylesheet" href="templates/styles/main.css">
		<!-- <link rel="stylesheet" href="templates/styles/style.css"> -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' *; img-src *; script-src 'self' 'unsafe-eval'">
    <title>Dune</title>
  </head>
	<body>
		<input type="hidden" name="activePage" value="">
		<main id="mainmenu">
			<!-- MAIN MENU INSERT -->
		</main>
		<main id="gamecanvas">
			<!-- GAME INSERT -->
		</main>
		<main id="gameui">
			<!-- UI  -->
		</main>
	</body>
</html>